<div class="wrapper">
<div class="sidebar" data-color="green" data-background-color="black" data-image="/assets/admin/img/sidebar-2.jpg">
      <div class="logo super-headerx">
        <a href="/" class="success-link">
          <img src="/assets/admin/img/icons/lt-blue.svg" class="menu-logo"/>
          <span class="blue-link">LTS Admin System</span>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {{pdata.dashboard}}">
            <a class="nav-link" href="/">
              <i class="f7-icons">square_fill_on_square_fill</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item scroll-riders {{pdata.riders}}">
            <a class="nav-link" href="/riders">
              <i class="f7-icons">person_2_fill</i>
              <p>Tufike Riders</p>
            </a>
          </li>
          <li class="nav-item scroll-drivers {{pdata.drivers}}">
            <a class="nav-link" href="/drivers">
              <i class="f7-icons">person_2_alt</i>
              <p>Tufike Drivers</p>
            </a>
          </li>
          <li class="nav-item scroll-vehicles {{pdata.vehicles}}">
            <a class="nav-link" href="/vehicles">
              <i class="f7-icons">car_fill</i>
              <p>Tufike Vehicles</p>
            </a>
          </li>
          <li class="nav-item scroll-rides {{pdata.rides}}">
            <a class="nav-link" href="/rides">
              <i class="f7-icons">arrow_right_arrow_left_circle_fill</i>
              <p>Tufike Rides</p>
            </a>
          </li>
          <li class="nav-item scroll-distress {{pdata.distress}}">
            <a class="nav-link" href="/distress">
              <i class="f7-icons">exclamationmark_shield_fill</i>
              <p>Distress Alerts</p>
            </a>
          </li>
          <li class="nav-item scroll-payments {{pdata.payments}}">
            <a class="nav-link" href="/transactions">
              <i class="f7-icons">creditcard</i>
              <p>Transactions</p>
            </a>
          </li>
          <li class="nav-item scroll-support {{pdata.support}}">
            <a class="nav-link" href="/support">
              <i class="f7-icons">chat_bubble_2_fill</i>
              <p>Tufike Support</p>
            </a>
          </li>
          <li class="nav-item scroll-packages {{pdata.packages}}">
            <a class="nav-link" href="/packages">
              <i class="f7-icons">bag_fill_badge_plus</i>
              <p>Ride Packages</p>
            </a>
          </li>
          <li class="nav-item scroll-notifications {{pdata.notifications}}">
            <a class="nav-link" href="/notifications">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item scroll-promotions {{pdata.promotions}}">
            <a class="nav-link" href="/promotions">
              <i class="material-icons">style</i>
              <p>Promotions</p>
            </a>
          </li>
          <li class="nav-item scroll-points {{pdata.points}}">
            <a class="nav-link" href="/points">
              <i class="f7-icons">gift_alt_fill</i>
              <p>Virtual Points</p>
            </a>
          </li>
          <li class="nav-item scroll-profile {{pdata.profile}}">
            <a class="nav-link" href="/profile">
              <i class="f7-icons">person_crop_circle</i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="nav-item scroll-settings {{pdata.settings}}">
            <a class="nav-link" href="/settings">
              <i class="f7-icons">gear_alt_fill</i>
              <p>Settings</p>
            </a>
          </li>
          <li class="nav-item scroll-users {{pdata.users}}">
            <a class="nav-link" href="/users">
              <i class="f7-icons">person_3_fill</i>
              <p>Admin Users</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
